.logo {
    width: 120px;
    height: 31px;
    background: url(../assets/images/pokeapi_256.3fa72200.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 16px 24px 16px 0;
    float: left;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    padding: 0;
  }

  nz-footer {
    text-align: center;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  .ant-layout-header {
    background-color: #2a75bb;
  }

@font-face {
    font-family: "Eight-Bit-Madness";
    src: local("Eight-Bit-Madness"), url(../assets/font/Eight-Bit-Madness.ttf) format("truetype");
}